# JUPYTER NOTEBOOK #
####################
*.ipynb
**/.ipynb_checkpoints/
notebooks/

# PRETRAINED MODELS #
#####################
pretrained/

# BYTECODE #
############
*.pyc 

# IDE FOLDERS #
###############
**/.idea/

# ViZDoom #
###########
_vizdoom.ini
